.connectedAccount-1xKpli {
    background-color: transparent;
    border: none;
}
.connectedAccount-1xKpli .connectedAccountNameInner-t24B11::after {
    z-index: 0;
    content: "";
    position: absolute;
    border-radius: 2px;
    border-left: solid 2px transparent;
    margin-left: -40px;
    height: 46px;
    width: 260px;
}
.connectedAccount-1xKpli .connectedAccountVerifiedIcon-3XCxT8 .flowerStar-2tNFCR path {
    fill: rgba(255, 255, 255, 0.25);
}
.connectedAccount-1xKpli .connectedAccountVerifiedIcon-3XCxT8 .childContainer-U_a6Yh {
    margin-top: 1px;
}
.connectedAccount-1xKpli .connectedAccountIcon-2vls0t,
.connectedAccount-1xKpli .connectedAccountName-j0meX4,
.connectedAccount-1xKpli .connectedAccountNameInner-t24B11 span,
.connectedAccount-1xKpli .connectedAccountNameInner-t24B11 + .anchor-1MIwyf {
    z-index: 1;
}
.connectedAccount-1xKpli .connectedAccountIcon-2vls0t {
    margin-left: 2px;
}

[alt="GitHub Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #0d0f11;
    border-left-color: #d9dadb;
}

[alt="Twitch Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #281644;
    border-left-color: #9146FF;
}

[alt="Steam Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #07090c;
    border-left-color: #2a475e;
}

[alt="Spotify Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #0f7031;
    border-left-color: #1ED760;
}

[alt="Twitter Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #1a5479;
    border-left-color: #1DA1F2;
}

[alt="Reddit Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #792608;
    border-left-color: #FF4500;
}

[alt="YouTube Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #772528;
    border-left-color: #EE0F0F;
}

[alt="Battle.net Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #264659;
    border-left-color: #009AE4;
}

[alt="Xbox Live Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #2b580f;
    border-left-color: #5DC21E;
}

[alt="Facebook Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #14223d;
    border-left-color: #3A5998;
}

[alt="League of Legends Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #424491;
    border-left-color: #676AE6;
}

[alt="Skype Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #106d8f;
    border-left-color: #00AAE8;
}

[alt="GitLab Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #6E4330;
    border-left-color: #FC6D26;
}

[alt="Minecraft Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #693037;
    border-left-color: #EE303D;
}

[alt="osu! Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #5F3E51;
    border-left-color: #EE65A2;
}

[alt="discord.bio Logo"] + .connectedAccountNameInner-t24B11::after {
    background: #3d4870;
    border-left-color: #7289da;
}