/**
    * @name Modern User Connections
    * @description Updates Discord's user connections to feel more modern.
    * @version 2.0.0
    * @author LuckFire#4800
    *
    * @invite vYdXbEzqDs
    * @website https://github.com/discord-extensions
    * @source https://github.com/discord-extensions/modern-user-connections
**/

@import url('https://discord-extensions.github.io/modern-user-connections/src/source.css');