.connectedAccountIcon-3P3V6F[alt="GitLab Logo"] + .connectedAccountNameInner-1phBvE::after { /* GitLab */
    --connection-background: #8f2b1b; 
    --connection-border: #FCA326;
}
.connectedAccountIcon-3P3V6F[alt="Minecraft Logo"] + .connectedAccountNameInner-1phBvE { /* Minecraft */
    --connection-background: #2a4911; 
    --connection-border: #70B237;
}
