$defaultConnections:
    'GitHub' #0d0f11 #d9dadb,
    'Twitch' #281644 #9146FF,
    'Steam' #07090c #2a475e,
    'Spotify' #0f7031 #1ED760,
    'Twitter' #1a5479 #1DA1F2,
    'Reddit' #792608 #FF4500,
    'YouTube' #772528 #EE0F0F,
    'Battle.net' #264659 #009AE4,
    'Xbox Live' #2b580f #5DC21E,
    'Facebook' #14223d #3A5998,
    'League of Legends' #424491 #676AE6,
    'Skype' #106d8f #00AAE8;

@each $name, $connectionBackground, $connectionBorder in $defaultConnections {
    [alt="#{$name} Logo"] + .connectedAccountNameInner-t24B11::after {
        background: $connectionBackground;
        border-left-color: $connectionBorder;
    }
}