.connectedAccountContainer-2TWiXT {
    border: unset;
    z-index: 1;

    .connectedAccountIcon-2szOw- {
        margin-left: 5px;
    }
    .connectedAccountChildren-2jEgw3 {
        margin-left: 37px;
    }
    &.connectedAccountContainerWithMetadata-3NgWeX .connectedAccountNameContainer-3v4pIj::before {
        margin-top: -8px;
    }

    .connectedAccountNameContainer-3v4pIj::before {
        content: '';
        position: absolute;
        z-index: -1;
        margin-left: -45px;
        margin-top: -14px;
        width: 262px;
        height: 48px;
        border-left: 2px solid hsl(var(--connection-default));
        background-color: hsla(var(--connection-default), 35%);
    }

    .flowerStar-2tNFCR path {
        fill: hsl(139, calc(var(--saturation-factor,1)*86%), 65%);
    }
    .childContainer-U_a6Yh svg path {
        fill: hsl(206, calc(var(--saturation-factor,1)*9%), 15%);
    }
}