.connectedAccountContainer-3aLMHJ {
    background: transparent;

    .connectedAccountIcon-3FdW8x,
    .connectedAccountNameText-tCbPXH,
    .anchor-1MIwyf,
    &.discordMemberCreatedAt-31OkT7 > * {
        z-index: 1;
    }
    .connectedAccountIcon-3FdW8x,
    .discordMemberCreatedAtIcon-126if8 {
        margin-left: 5px;
    }

    .connectedAccountNameContainer-3e9mvO::before,
    &.discordMemberCreatedAt-31OkT7::before {
        content: '';
        position: absolute;
        width: 266px;
        border-left: 2px solid hsl(var(--connection-default));
        background-color: hsla(var(--connection-default), 35%);
    }
    .connectedAccountNameContainer-3e9mvO::before {
        margin-left: -45px;
        margin-top: -13px;
        height: 46px;
    }
    &.discordMemberCreatedAt-31OkT7::before {
        margin-left: -8px;
        margin-top: -8px;
        height: 58px;
    }

    .flowerStar-2tNFCR path {
        fill: hsl(139, calc(var(--saturation-factor,1)*86%), 65%);
    }
    .childContainer-U_a6Yh svg path {
        fill: hsl(206, calc(var(--saturation-factor,1)*9%), 15%);
    }
}