$default: (
    'GitHub': var(--connection-github),
    'Twitch': var(--connection-twitch),
    'Steam': var(--connection-steam),
    'Spotify': var(--connection-spotify),
    'Twitter': var(--connection-twitter),
    'Reddit': var(--connection-reddit),
    'YouTube': var(--connection-youtube),
    'Battle.net': var(--connection-battlenet),
    'Xbox': var(--connection-xbox),
    'PlayStation Network': var(--connection-psn),
    'Facebook': var(--connection-facebook),
    'League of Legends': var(--connection-league),
    'Skype': var(--connection-skype),
    'Epic Games': var(--connection-epicgames),
    'Riot Games': var(--connection-riotgames),
    'PayPal': var(--connection-paypal),
    'eBay': var(--connection-ebay),
    'TikTok': var(--connection-tiktok),
    'Instagram': var(--connection-instagram),
    'Crunchyroll': var(--connection-crunchyroll)
);

@each $connection, $color in $default {
    [alt="#{$connection} Logo"] + .connectedAccountNameContainer-3v4pIj::before {
        border-left-color: hsl($color);
        background: hsla($color, 35%)
    }
}