.connectedAccountIcon-3P3V6F[alt="GitHub Logo"] + .connectedAccountNameInner-1phBvE::after { /* Github */
    --connection-background: #24292E; 
    --connection-border: #d9dadb; 
}
.connectedAccountIcon-3P3V6F[alt="Twitch Logo"] + .connectedAccountNameInner-1phBvE::after { /* Twitch */
    --connection-background: #3a2b5f; 
    --connection-border: #9059F6;
}
.connectedAccountIcon-3P3V6F[alt="Steam Logo"] + .connectedAccountNameInner-1phBvE::after { /* Steam */
    --connection-background: #171A21; 
    --connection-border: #3b587c; 
}
.connectedAccountIcon-3P3V6F[alt="Spotify Logo"] + .connectedAccountNameInner-1phBvE::after { /* Spotify */
    --connection-background: #138139; 
    --connection-border: #1ED760; 
}
.connectedAccountIcon-3P3V6F[alt="Twitter Logo"] + .connectedAccountNameInner-1phBvE::after { /* Twitter */
    --connection-background: #0C5886; 
    --connection-border: #76C5F5; 
}
.connectedAccountIcon-3P3V6F[alt="Reddit Logo"] + .connectedAccountNameInner-1phBvE::after { /* Reddit */
    --connection-background: #81340e; 
    --connection-border: #FF6314; 
}
.connectedAccountIcon-3P3V6F[alt="YouTube Logo"] + .connectedAccountNameInner-1phBvE::after { /* YouTube */
    --connection-background: #6d1616; 
    --connection-border: #EE0F0F; 
}
.connectedAccountIcon-3P3V6F[alt="Battle.net Logo"] + .connectedAccountNameInner-1phBvE::after { /* Blizzard/Battle.net */
    --connection-background: #175266; 
    --connection-border: #3AB1DA;
}
.connectedAccountIcon-3P3V6F[alt="Xbox Logo"] + .connectedAccountNameInner-1phBvE::after { /* Xbox Live */
    --connection-background: #1c632a; 
    --connection-border: #77BB44;
}
.connectedAccountIcon-3P3V6F[alt="Facebook Logo"] + .connectedAccountNameInner-1phBvE::after { /* Facebook */
    --connection-background: #14223d; 
    --connection-border: #3A5998;
}
.connectedAccountIcon-3P3V6F[alt="League of Legends Logo"] + .connectedAccountNameInner-1phBvE::after { /* League of Legend (LoL) */
    --connection-background: #424491; 
    --connection-border: #676AE6;
}
.connectedAccountIcon-3P3V6F[alt="Skype Logo"] + .connectedAccountNameInner-1phBvE::after { /* Skype */
    --connection-background: #424491; 
    --connection-border: #676AE6;
}
