:root {
  /* || Default Connections */
  --connection-default: 235, calc(var(--saturation-factor,1)*86%), 65%;
  --connection-github: 286, calc(var(--saturation-factor,1)*55%), 44%;
  --connection-twitch: 264, calc(var(--saturation-factor,1)*100%), 64%;
  --connection-steam: 195, calc(var(--saturation-factor,1)*48%), 46%;
  --connection-spotify: 141, calc(var(--saturation-factor,1)*76%), 48%;
  --connection-twitter: 204, calc(var(--saturation-factor,1)*88%), 53%;
  --connection-reddit: 16, calc(var(--saturation-factor,1)*100%), 50%;
  --connection-youtube: 358, calc(var(--saturation-factor,1)*71%), 50%;
  --connection-battlenet: 202, calc(var(--saturation-factor,1)*40%), 25%;
  --connection-xbox: 79, calc(var(--saturation-factor,1)*100%), 36%;
  --connection-psn: 209, calc(var(--saturation-factor,1)*99%), 37%;
  --connection-facebook: 214, calc(var(--saturation-factor,1)*89%), 52%;
  --connection-league: 238, calc(var(--saturation-factor,1)*37%), 41%;
  --connection-skype: 196, calc(var(--saturation-factor,1)*100%), 45%;
  --connection-epicgames: 34, calc(var(--saturation-factor,1)*6%), 22%;
  --connection-riotgames: 349, calc(var(--saturation-factor,1)*100%), 46%;
  --connection-paypal: 230, calc(var(--saturation-factor,1)*70%), 25%;
  --connection-ebay: 211, calc(var(--saturation-factor,1)*100%), 41%;
}

.connectedAccountContainer-SlCC-S {
  background: transparent;
}
.connectedAccountContainer-SlCC-S .connectedAccountIcon-1FXG0p,
.connectedAccountContainer-SlCC-S .connectedAccountNameText-2m46Qn,
.connectedAccountContainer-SlCC-S .anchor-1MIwyf {
  z-index: 1;
}
.connectedAccountContainer-SlCC-S .connectedAccountIcon-1FXG0p {
  margin-left: 5px;
}
.connectedAccountContainer-SlCC-S .connectedAccountNameContainer-EXbBUQ::before {
  content: "";
  position: absolute;
  margin-left: -45px;
  margin-top: -13px;
  width: 266px;
  height: 46px;
  border-left: 2px solid hsl(var(--connection-default));
  background-color: hsla(var(--connection-default), 35%);
}
.connectedAccountContainer-SlCC-S .flowerStar-2tNFCR path {
  fill: hsl(139, calc(var(--saturation-factor, 1) * 86%), 65%);
}
.connectedAccountContainer-SlCC-S .childContainer-U_a6Yh svg path {
  fill: hsl(206, calc(var(--saturation-factor, 1) * 9%), 15%);
}

[alt="GitHub Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-github));
  background: hsla(var(--connection-github), 35%);
}

[alt="Twitch Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-twitch));
  background: hsla(var(--connection-twitch), 35%);
}

[alt="Steam Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-steam));
  background: hsla(var(--connection-steam), 35%);
}

[alt="Spotify Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-spotify));
  background: hsla(var(--connection-spotify), 35%);
}

[alt="Twitter Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-twitter));
  background: hsla(var(--connection-twitter), 35%);
}

[alt="Reddit Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-reddit));
  background: hsla(var(--connection-reddit), 35%);
}

[alt="YouTube Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-youtube));
  background: hsla(var(--connection-youtube), 35%);
}

[alt="Battle.net Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-battlenet));
  background: hsla(var(--connection-battlenet), 35%);
}

[alt="Xbox Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-xbox));
  background: hsla(var(--connection-xbox), 35%);
}

[alt="PlayStation Network Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-psn));
  background: hsla(var(--connection-psn), 35%);
}

[alt="Facebook Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-facebook));
  background: hsla(var(--connection-facebook), 35%);
}

[alt="League of Legends Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-league));
  background: hsla(var(--connection-league), 35%);
}

[alt="Skype Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-skype));
  background: hsla(var(--connection-skype), 35%);
}

[alt="Epic Games Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-epicgames));
  background: hsla(var(--connection-epicgames), 35%);
}

[alt="Riot Games Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-riotgames));
  background: hsla(var(--connection-riotgames), 35%);
}

[alt="PayPal Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-paypal));
  background: hsla(var(--connection-paypal), 35%);
}

[alt="Ebay Logo"] + .connectedAccountNameContainer-EXbBUQ::before {
  border-left-color: hsl(var(--connection-ebay));
  background: hsla(var(--connection-ebay), 35%);
}