:root {
  /* [ DEFAULT CONNECTIONS ] */
  --connection-default: 235, calc(var(--saturation-factor,1)*86%), 65%;
  --connection-github: 286, calc(var(--saturation-factor,1)*55%), 44%;
  --connection-twitch: 264, calc(var(--saturation-factor,1)*100%), 64%;
  --connection-steam: 195, calc(var(--saturation-factor,1)*48%), 46%;
  --connection-spotify: 141, calc(var(--saturation-factor,1)*76%), 48%;
  --connection-twitter: 204, calc(var(--saturation-factor,1)*88%), 53%;
  --connection-reddit: 16, calc(var(--saturation-factor,1)*100%), 50%;
  --connection-youtube: 358, calc(var(--saturation-factor,1)*71%), 50%;
  --connection-battlenet: 202, calc(var(--saturation-factor,1)*40%), 25%;
  --connection-xbox: 79, calc(var(--saturation-factor,1)*100%), 36%;
  --connection-psn: 209, calc(var(--saturation-factor,1)*99%), 37%;
  --connection-facebook: 214, calc(var(--saturation-factor,1)*89%), 52%;
  --connection-league: 238, calc(var(--saturation-factor,1)*37%), 41%;
  --connection-skype: 196, calc(var(--saturation-factor,1)*100%), 45%;
}

.connectedAccount-1xKpli {
  border: none;
  background: transparent;
}
.connectedAccount-1xKpli .connectedAccountIcon-2vls0t,
.connectedAccount-1xKpli .connectedAccountName-j0meX4,
.connectedAccount-1xKpli .anchor-1MIwyf {
  z-index: 1;
}
.connectedAccount-1xKpli .connectedAccountIcon-2vls0t {
  margin-left: 5px;
}
.connectedAccount-1xKpli .connectedAccountNameInner-t24B11::before {
  content: "";
  position: absolute;
  margin-left: -43px;
  width: 262px;
  height: 46px;
  border-left: 2px solid hsl(var(--connection-default));
  background-color: hsla(var(--connection-default), 35%);
}
.connectedAccount-1xKpli .flowerStar-2tNFCR path {
  fill: hsl(139, calc(var(--saturation-factor, 1) * 86%), 65%);
}
.connectedAccount-1xKpli .childContainer-U_a6Yh svg path {
  fill: hsl(206, calc(var(--saturation-factor, 1) * 9%), 15%);
}

[alt="GitHub Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-github));
  background: hsla(var(--connection-github), 35%);
}

[alt="Twitch Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-twitch));
  background: hsla(var(--connection-twitch), 35%);
}

[alt="Steam Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-steam));
  background: hsla(var(--connection-steam), 35%);
}

[alt="Spotify Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-spotify));
  background: hsla(var(--connection-spotify), 35%);
}

[alt="Twitter Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-twitter));
  background: hsla(var(--connection-twitter), 35%);
}

[alt="Reddit Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-reddit));
  background: hsla(var(--connection-reddit), 35%);
}

[alt="YouTube Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-youtube));
  background: hsla(var(--connection-youtube), 35%);
}

[alt="Battle.net Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-battlenet));
  background: hsla(var(--connection-battlenet), 35%);
}

[alt="Xbox Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-xbox));
  background: hsla(var(--connection-xbox), 35%);
}

[alt="PlayStation Network Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-psn));
  background: hsla(var(--connection-psn), 35%);
}

[alt="Facebook Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-facebook));
  background: hsla(var(--connection-facebook), 35%);
}

[alt="League of Legends Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-league));
  background: hsla(var(--connection-league), 35%);
}

[alt="Skype Logo"] + .connectedAccountNameInner-t24B11::before {
  border-left-color: hsl(var(--connection-skype));
  background: hsla(var(--connection-skype), 35%);
}