:root {
    /* || Default Connections */
    --connection-default: 235, calc(var(--saturation-factor, 1) * 86%), 65%;
    --connection-github: 0, calc(var(--saturation-factor, 1) * 4%), 9%;
    --connection-twitch: 262, calc(var(--saturation-factor, 1) * 47%), 40%;
    --connection-steam: 215, calc(var(--saturation-factor, 1) * 35%), 14%;
    --connection-spotify: 141, calc(var(--saturation-factor, 1) * 73%), 42%;
    --connection-twitter: 203, calc(var(--saturation-factor, 1) * 89%), 53%;
    --connection-reddit: 16, calc(var(--saturation-factor, 1) * 100%), 50%;
    --connection-youtube: 0, calc(var(--saturation-factor, 1) * 73%), 46%;
    --connection-battlenet: 200, calc(var(--saturation-factor, 1) * 100%), 45%;
    --connection-xbox: 120, calc(var(--saturation-factor, 1) * 77%), 27%;
    --connection-psn: 220, calc(var(--saturation-factor, 1) * 96%), 27%;
    --connection-facebook: 221, calc(var(--saturation-factor, 1) * 44%), 37%;
    --connection-league: 190, calc(var(--saturation-factor, 1) * 90%), 8%;
    --connection-skype: 196, calc(var(--saturation-factor, 1) * 100%), 42%;
    --connection-epicgames: 34, calc(var(--saturation-factor, 1) * 6%), 22%;
    --connection-riotgames: 349, calc(var(--saturation-factor, 1) * 100%), 46%;
    --connection-paypal: 230, calc(var(--saturation-factor, 1) * 70%), 25%;
    --connection-ebay: 211, calc(var(--saturation-factor, 1) * 100%), 41%;
    --connection-tiktok: 178, calc(var(--saturation-factor, 1) * 90%), 55%;
    --connection-instagram: 326, calc(var(--saturation-factor, 1) * 57%), 48%;
    --connection-crunchyroll: 29, calc(var(--saturation-factor, 1) * 93%), 55%;
}